@charset "UTF-8";

/*--------------------------------------------------------
  共通CSSプロファイル（テンプレート側設定）
--------------------------------------------------------*/

.hpb-parts-cnt-style {
    border-color: #3C7C00;
}

.hpb-parts-hl-style {
    border-color: #3C7C00;
}

.hpb-parts-cbox-style {
    border-color: #3C7C00;
}

.hpb-parts-hr-style {
    border-color: #3C7C00;
}

.hpb-parts-pbox-style {
    background-color: #f4f4f4;
    border-color: #dddddd;
}
.hpb-parts-pbox-style h4 {
    padding: 0px !important;
}
.hpb-parts-pbox-style img {
    background-color: #f4f4f4;
}

.hpb-parts-blist-style {
    background-color: #f3f3f3;
    border-color: #3C7A01;
}
a.hpb-parts-blist-style:link {
    color: #666666;
}
a.hpb-parts-blist-style:visited {
    color: #666666;
}
a.hpb-parts-blist-style:hover {
    color: #3C7A01;
}
a.hpb-parts-blist-style:active {
    color: #3C7A01;
}

/*--------------------------------------------------------
  ナビゲーション設定スタイル
--------------------------------------------------------*/
/* 固定しているトップボタン */
.nav {
    white-space: nowrap;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10000;
    background-color: #259685;
    border-top: 20px solid #10594e;
    /* background-image: url(../images/hedderimage_00.png); ボタン上部の背景画像 */
    /* background-repeat: repeat-x; /* 背景画像を横方向に繰り返す。no-repeatにすると中央配置 */
    background-position: left top; /* 背景を左上に配置 */
    opacity: 1.0;
    /* background-image: url(../images/hedderimage_00.png); */
}

@media screen and (max-width: 548px) {
    .nav {
        height: 70px;
    }
}
