<input type="checkbox" id="menu-btn-check">
<label for="menu-btn-check" class="menu-btn" id="menu-btn"><span></span></label>
<!-- タブレット・スマホ -->
<div  class="sp-nav">
    <div class="inner">
        <h1><img src="images/top_sp_logo.png" alt=></h1>
        <nav>
            <ul>
                <li><a href="" class="nav-txt">TOP</a></li>
                <li><a href="" class="nav-txt">入会のご案内</a></li>
                <li><a href="" class="nav-txt">会概要</a></li>
                <li><a href="" class="nav-txt">第一日本接骨師会</a></li>
                <li><a href="" class="nav-txt">第一日本鍼灸マッサージ師会</a></li>
                <li><a href="" class="nav-txt">よくある質問</a></li>
                <li><a href="" class="nav-txt">セミナー情報</a></li>
                <li><a href="" class="nav-txt">お問い合わせ</a></li>
                <li><a href="" class="nav-txt">プライバシーポリシー</a></li>
            </ul>
        </nav>
        <div class="sp-nav-contact">
            <a href="tel:0561-84-0856" class="tel-block"><img src="images/contact_sp.png" alt=></a>
            <a href="inquiry.html" class="mail-block"><img src="images/mail_top.png" alt=></a>
        </div>
    </div>
</div>